body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 120px;
  height: 120px;
}

nav {
  height: 60px;
  color: green;
}

li {
  font: 28px;
  text-align: center;
}